<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycom.myapp.phone.dao.PhoneDao">

    <!-- 전체 휴대폰 목록 조회 -->
    <select id="phoneList" resultType="com.mycom.myapp.phone.dto.PhoneDto">
        SELECT 
            phone_id, 
            model_name, 
            manufacturer, 
            price, 
            stock_quantity
        FROM phones
        ORDER BY phone_id DESC
    </select>

    <!-- 단일 휴대폰 조회 -->
    <select id="phoneDetail" parameterType="int" resultType="com.mycom.myapp.phone.dto.PhoneDto">
        SELECT 
            phone_id, 
            model_name, 
            manufacturer, 
            price, 
            stock_quantity
        FROM phones
        WHERE phone_id = #{phoneId}
    </select>

    <!-- 휴대폰 추가 -->
    <insert id="phoneInsert" parameterType="com.mycom.myapp.phone.dto.PhoneDto">
        INSERT INTO phones (
            model_name, 
            manufacturer, 
            price, 
            stock_quantity
        ) VALUES (
            #{modelName}, 
            #{manufacturer}, 
            #{price}, 
            #{stockQuantity}
        )
    </insert>

    <!-- 휴대폰 수정 -->
    <update id="phoneUpdate" parameterType="com.mycom.myapp.phone.dto.PhoneDto">
        UPDATE phones
        SET 
            model_name = #{modelName},
            manufacturer = #{manufacturer},
            price = #{price},
            stock_quantity = #{stockQuantity}
        WHERE phone_id = #{phoneId}
    </update>

    <!-- 휴대폰 삭제 -->
    <delete id="phoneDelete" parameterType="int">
        DELETE FROM phones
        WHERE phone_id = #{phoneId}
    </delete>

</mapper>
